{% extends "base.html" %}

{% block content %}
    <body>
    <h1>Калькуляторы</h1>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a href="/deposit" class="btn btn-info btn-lg btn-block" role="button">
                    <h3>Депозитный</h3>
                    <p>С помощью этого калькулятора Вы сможете рассчитать проценты по вкладу</p>
                    <p>💸</p>
                    <br>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/credit" class="btn btn-danger btn-lg btn-block">
                    <h3>Кредитный</h3>
                    <p>С помощью этого калькулятора Вы сможете рассчитать сколько составит переплата по кредиту</p>
                    <p>⏳</p>
                    <br>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/savings" class="btn btn-warning btn-lg btn-block">
                    <h3>Личных накоплений</h3>
                    <p>С помощью этого калькулятора Вы сможете рассчитать, сколько нужно откладывать, чтобы накопить нужную сумму</p>
                    <p>💰</p>
                </a>
            </div>
        </div>
    </div>
    </body>
{% endblock %}