{% extends "base.html" %}

{% block content %}
<div style="display: flex; justify-content: center;">
    <!-- Внутренний контейнер с фиксированной шириной -->
    <div style="max-width: 1000px; width: 100%; padding: 20px; box-sizing: border-box;">
        <h2><span class="badge bg-secondary">КРУТОЙ</span> личный кабинет</h2>
        <h4>Данные аккаунта:</h4>
        <!-- Основной блок с фото и формой -->
        <div style="display: flex; gap: 30px; align-items: flex-start; margin-top: 20px;">
            <!-- Блок с фото и кнопкой -->
            <div style="flex-direction: column; text-align: center; width: 200px;">
                <!-- Текущее фото -->
                <img src="{{ user_photo_url }}" alt="Фотография"
                     style="width: 200px; height: 200px; border-radius:10px; object-fit: cover; border: 1px solid #ccc; margin-bottom: 10px;">
            </div>

            <div style="flex: 1;">
                <div class="container">
                    <div class="col-md-6">
                        <h5>Почта: {{email}}</h5>
                        <h5>Имя пользователя: {{username}}</h5>
                        <h5>Дата регистрации: {{date}}</h5>
                    </div>
                    <div class="row">
                            <div class="col-md-6">
                                <a class="btn btn-outline-danger" href="/logout">Выйти из аккаунта</a>
                            </div>
                            <div class="col-md-6">
                                <a class="btn btn-outline-info" href="/change_profile">Изменить данные</a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}